.card {
  background-color: white;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 80%;
  display: flex;
}

@media (max-width: 350px) {
  .card {
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 80%;
    display: block;
  }
}
/* Style the counter cards */
.OrderCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: white;
}
